<html>
    <head>
        <link rel="stylesheet" href="/views/classview/classview.css">
    </head>
    
    <body><% %>
        <div class="bodyWrapper">   
        <div class="leftBody">
                <a href="/admin">
            <div class="adminshow">
                <div class="avatar">
                </div>
                <div>
                    Admin page
                </div>
            </div>
        </a>
            <hr></hr>

            <div class="function">
                
                <a href="/admin/classadmin">
                    Classes
                </a>
            </div>
            <div class="function">
                <a href="/admin/teacher">
                    Teacher
                </a>
            </div>
            <div class="function">
                <a href="/admin/student">
                Student
                </a>
            </div>
            <div class="function">
                <a href="/admin/parent">
                Parent
                </a>
            </div>
        </div>
        <div class="rightBody">
            <div class="mainTable">
                <h1>Data</h1>
                <table id="table" border="1">
                    
                    <tr>
                        <th>Teacher ID</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Phone number</th>
                        <th>Email</th>
                        <th>Account</th>
                        <th>Password</th>
                        <th>Delete</th>
                        <th>Edit</th>
                    </tr>
                    <% 
                teachers.forEach((entry)=> { %>
                    <tr>
                        
                        <td>
                            <%= entry.teacher_id %>
                        </td>
                        <td>
                            <%= entry.full_name %>
                        </td>
                        <td>
                            <%=entry.gender %>
                        </td>
                        <td>
                            <%=entry.phone_number %>
                        </td>
                        <td>
                            <%= entry.email %>
                        </td>
                        <td>
                            <%=entry.account_login %>
                        </td>
                        <td>
                            <%= entry.password_login %>
                        </td>

                        <td>
                            <form method="post" action="/admin/deleteTeacher">
                                <input name="teacher_id" value='<%= entry.teacher_id %>' hidden>
                                <input type="submit" value="Delelte">
                            </form>
                        </td>
                        <td>
                            <a href="/admin/editTeacher"><button  >Edit</button></a>
                           
                        </td>
                    </tr>
                    <% }) 
                 %>
            </table>
        
            <div class="updateBtn">
                <button  onclick="editTableDisplay()">Update data</button>
            </div>
    
            <!-- Edit table -->
            <div class="editTable">
                <div class="left">First Name: </div><div class="right"><input type="text" name="fname" id="fname"></div><br><br>
                <div class="left">Last Name: </div><div class="right"><input type="text" name="lname" id="lname"></div><br><br>
                <div class="left">Country: </div><div class="right"><input type="text" name="country" id="country"></div><br><br>
                <div class="left">Mobile number: </div><div class="right"><input type="number" name="mNumber" id="mNumber"></div><br><br>
                <button onclick="editRow();" class="editRowBtn">Update</button><br><br>
            </div>        
        </div>
        </div>
        
        
    </body>

</html>